@import url("https://fonts.googleapis.com/css2?family=Catamaran:wght@100;200;300;400;500;600;700;800;900&family=Pacifico&family=Righteous&family=Sarabun:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Paytone+One&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

/*
font-family: 'Catamaran', sans-serif;
font-family: 'Pacifico', cursive;
font-family: 'Righteous', cursive;
font-family: 'Sarabun', sans-serif;
font-family: 'Roboto', sans-serif;
*/

body {
  background-image: linear-gradient(
    0,
    #ffffff44 0%,
    rgba(241, 150, 143, 0.7) 100%
  );
  width: 100vw;
}

.main-title {
  font-family: "Paytone One", sans-serif;
  font-weight: 800;
  font-size: 1.5em;
  margin-bottom: 30px;
  line-height: 1.2;
  color: rgb(0, 0, 0);
}

.page-title {
  font-family: "Paytone One", sans-serif;
  font-weight: 400;
  font-size: 1.7em;
  color: rgb(0, 0, 0);
  width: 70%;
  text-align: center;
}

.header {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background-color: #f8dbd9;
  width: 100%;
  min-height: 100px;
  max-height: 100px;
  z-index: 9999;
}

.single-page {
  position: relative;
  background: white;
  height: 100%;
  padding: 0.1px;
}

.post {
  margin-top: 110px;
  padding: 10px;
}

.post h1 {
  color: #f1968fb3;
  text-align: center;
  font-family: "Paytone One", sans-serif;
  font-size: 50px;
}

.post h2 {
  font-family: "Paytone One", sans-serif;
  font-size: 23px;
  font-weight: 300;
}

.post p,
.post ul {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 20px;
  line-height: 1.5;
}

.back-button {
  width: 30px;
  height: 30px;
  margin-left: 10px;
  align-items: center;
}

.pricing {
  margin: 10px;
}

.pricing h2 {
  font-family: "Righteous", cursive;
}

/* DESKTOP */
@media screen and (min-width: 768px) {
  .post {
    width: 60%;
    margin: 110px auto 50px auto;
  }

  .pricing {
    
    margin: 10px auto;
  }
}
.action-sheet-container {
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
  height: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* bottoni */
.action-sheet-container div {
  background-color: #f8dbd9;
  border-radius: 10px;
  width: 70%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
}

.action-sheet-container a {
  text-decoration: none;
  color: black;
  font-size: 1.2em;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
}
